#name: CI
#
#on:
#  pull_request:
#  workflow_dispatch:
#
#jobs:
#  test:
#    runs-on: ubuntu-latest
#
#    steps:
#      - uses: actions/checkout@v4
#
#      - uses: supabase/setup-cli@v1
#        with:
#          version: latest
#
#      - name: Start Supabase local development setup
#        run: supabase db start
